

    <div class="outer g-0 row d-flex">
        <div class="col-12 col-md text-center pt-4 ps-md-4 pt-md-4 text-md-start">
            <span class="name">LUKE OFFERMAN</span>
            <div class="row mt-5 mb-3 link-icons justify-content-evenly justify-content-md-start">
                <img class="col-2 ms-md-2 pointer" src="img/github-dark.png" alt="" srcset="" (click)="goTo('https://github.com/Lofferman')">
                <img class="col-2 ms-md-2 pointer" src="img/linkedin-dark.png" alt="" srcset="" (click)="goTo('https://linkedin.com/in/Luke-offerman')">
            </div>
            <div class="row align-items-end">
                <div class="col">
                    <h3>Hello, Im Luke Offerman</h3>
                    <h3>Senior Software Engineer</h3>
                    <button (click)="goTo('file/Luke Offerman Resume 2025.pdf')">Resume</button>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-auto d-flex justify-md-content-end justify-content-center black-portion">
            <img src="/img/profile-photo2_400x600.jpg" alt="" srcset="" priority fill>
            
        </div>
        
    </div>