<div class="outer d-flex pb-4">
    <div class="row ps-md-4 pt-md-4 d-flex justify-content-center">
            <div class="col-auto p-5 text-start">
                <h3 class="section-heading pb-5">About me</h3>
                <div class="para">
                    I'm an accomplished software engineer with a rich history of over five years working in industries such as healthcare and commercial/investment banking. My journey began after earning a degree in Computer Information Systems with a minor in Computer Science. During which I honed my soft skills and technical experience early on at Rose Plastic US, working as a customer service representative and administrative assistant, learning and teaching SAP workflows. I transitioned into software engineering at CGI Technologies after graduation, where I contributed to innovative financial applications and played a critical role in developing a time-sensitive application that processed over 70,000 loans for businesses in need.
    At ENC Bank, I advanced from a Technology Engineer to a Software Engineer Lead, over this time I played a role in several applications from discovery to MVP. Most recently, leading a team of developers with the design and implementation of a salable micro-fronted Angular application for a critical business process. I’ve built reusable component libraries, improved user experience through responsive design, and fostered team growth through mentorship and code reviews. Along the way, I’ve earned recognition as part of a blackthorn-winning team and secured two utility patents. My journey reflects a blend of technical expertise, leadership, and a commitment to crafting intuitive, high-performance web solutions.
    
                </div>
            </div>
    </div>
</div>
