.outer{
    height: auto;
    width: 100%;
    background-color: rgb(55, 65, 81);
    position: relative;
    
}


h3 {
    color: rgb(229, 231, 235);
    letter-spacing: -10px;
 //    font-size: 80px;
    font-weight: 800;
    line-height: 0.75;
 }
 .para{
     color: rgb(229, 231, 235);
     // width: 80%;
 }
 img{
    height: 80px;
    width: auto;
 }
