<div class="outer g-0 row d-flex">

        <div class="row d-flex justify-content-center">
            <div class="col p-5 text-center">
                <h3 class="section-heading">Get In Touch</h3>
                <div class="row justify-content-center my-4">
                    <a class="w-auto pointer" href="mailto:lukeofferman@yahoo.com"><img class="col-2 ms-md-2" src="img/email.png" alt="email" srcset=""></a>
                    <img class="col-2 ms-md-2 pointer" src="img/github.png" alt="github" srcset="" (click)="goTo('https://github.com/Lofferman')">
                    <img class="col-2  pointer" src="img/linkedin.png" alt="linkedin" srcset="" (click)="goTo('https://linkedin.com/in/Luke-offerman')">
                </div>
            </div>
        </div>

</div>
